{% include header.html %}
<section class="content">
	<span class="date">{{ page.date | date: "%-d %B %Y %-H:%M" }}</span>
	{% for photo in page.photos %}
	<figure>
		<img src="{{ photo.img }}" alt="{{ photo.caption }}">
		<figcaption>{{ photo.caption }}</figcaption>
	</figure>
	{% endfor %}
  {{content}}
	{% if page.next %}<a href="{{site.baseurl}}{{ page.next.url }}" rel="next">next</a> {% endif %}
	{% if page.previous %}<a href="{{site.baseurl}}{{ page.previous.url }}" rel="prev">prev</a> {% endif %}
</section>
<div id="disqus_thread"></div>
<script src="//haroenvblog.disqus.com/embed.js" async></script>
{% include footer.html %}
